*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  // font: normal 100%/1.5 $font-stack; // 16
  // font: normal 112.5%/1.5 $font-stack; // 18
  font: normal 131.25%/1.5 $font-stack; // 21

  opacity: 0;

  -webkit-transition: all .1s easy-in-out;
          transition: all .1s ease-in-out;

  &.wf-active {
    opacity: 1;
  }
}

body {
  color: $text-color-fg;
  background-color: $page-color-bg;
  margin: 0;
  padding: 0;
}

.page {
  width: 784px;
  width: 700px;
  padding: 0;
  // margin: 0 auto;
}

h1, h2, h3 {
  font-weight: 400;
}

h1 {
  font-size: 2rem;
  margin: .67em 0;
}

h2 {
  font-size: 1.5rem;
  margin: 1.66em 0 .83em;
}

h3 {
  font-size: 1.169rem;
  margin: 1em 0;
}

p {
  margin: 1em 0;
}

a {
  color: $link-color-fg;
  text-decoration: underline;
}

a:visited {
  color: $link-color-fg;
}

a:hover, a:active,
a:visited:hover, a:visited:active {
  color: $link-color-fg;
  text-decoration: none;
}

header[role="banner"] {
  padding: 0 2rem;
}

header[role="banner"] {
  border-bottom: .2rem solid $support-color;
  padding-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: .8rem;

  .mark, nav { display: inline; }
}

.mark {
  text-transform: lowercase;
  font-family: $font-stack-ui;
  letter-spacing: .15em;

  // &:after {
  //   content: '§';
  //   display: inline-block;
  //   padding: 0 1rem;
  // }
}

.mark a, .mark a:visited {
  // background-color: $primary-color;
  border: 2px solid $primary-color;
  color: $primary-color;
  padding: 0 .3em;
  text-decoration: none;
}

nav {
  margin-left: 2rem;
}

nav a, nav a:visited {
  color: $text-color-fg;
  text-decoration: none;
  text-transform: lowercase;
  // font-variant: small-caps;
  font-family: $font-stack-ui;
  letter-spacing: .15em;
  // font-size: 1em;
}

nav a:hover, nav a:active {
  color: $link-color-fg;
}

nav a + a {
  margin-left: 1rem;
}

.intro {
  margin: 2rem -2rem;
  font-style: italic;
  // background: black;
}

.intro h1 {
  padding: 2rem;
  background-color: $intro-color-bg;
  color: white;
  margin: 0;
}

.intro p {
  padding: 0 2rem;
}

[role="main"] {
  padding: 0 2rem;
}

.article-list {

  article h1 {
    font-size: 1rem;
    margin: 0;
    display: inline-block;
  }

  article time {
    display: inline-block;

    &:before {
      content: ' — ';
    }
  }

  article {
    margin-bottom: 1rem;
  }
}

[role="main"] img {
  max-width: 100%;
  padding: 3px;
  border: 1px solid $support-color;
  border-radius: 3px;
}

time {
  color: $secondary-text-color-fg;
  text-transform: lowercase;
  font-family: $font-stack-ui;
  font-size: .9rem;
  // font-variant: small-caps;
  font-weight: 400;
  // letter-spacing: .1em;
}


article[role="main"] h1 a {
  text-decoration: none;
  color: $text-color-fg;
}

.resume-item header h1 {
  font-size: 1.169rem;
  margin: 0;
}

.resume-item header p {
  margin: 0;
  font-size: .857142857rem;
}