*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font: normal 131.25%/1.5 $font-stack; // 21
}

::-moz-selection { background-color: $selection-color-bg; }
::selection { background-color: $selection-color-bg; }

body {
  color: $text-color-fg;
  background-color: $page-color-bg;
  margin: 0;
  padding: 0;
}

.page {
  max-width: 784px;
  padding: 0 1rem;
  margin: 0 auto;
}

h1, h2, h3 {
  font-weight: 400;
}

h1.tester {
  font-size: 48px;
  line-height: 1.25;
  color: $primary-color;
  
  @include break(not-small) {
    font-size: 72px;
  }
}

h1 {
  font-size: 2rem;
  margin: .67em 0;
  color: $primary-color;
}

h2 {
  font-size: 1.5rem;
  margin: 1.66em 0 .83em;
}

h3 {
  font-size: 1.142857143rem;
  font-weight: 600;
  margin: 1em 0 0;
}

p, ul {
  margin: 1em 0;
  line-height: 1.5;
}

li {
  margin: 0 0 24px 0;
}

h3 + p, h3 + ul {
  margin-top: .25em;
}

a {
  color: $link-color-fg;
  text-decoration: underline;
}

a:visited {
  color: $link-color-fg;
}

a:hover, a:active,
a:visited:hover, a:visited:active {
  color: $link-color-fg;
  text-decoration: none;
}

header[role="banner"] {
  border-bottom: .2rem solid $support-color;
  padding-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: .8rem;
  text-align: center;

  @include break(not-small) {
    text-align: left;
  }
}

.mark {
  font-family: $font-stack-ui-fallback;
  font-size: .65em;
  text-transform: uppercase;
  letter-spacing: .1em;

  display: block;

  @include break(not-small) {
    display: inline;
  }
}

.wf-proximanovascosfextcond-n4-active .mark {
  text-transform: lowercase;
  font-family: $font-stack-ui;
  font-size: 1em;
  letter-spacing: .15em;
}

.mark a, .mark a:visited {
  border: 2px solid $primary-color;
  color: $primary-color;
  padding: 0 .3em;
  text-decoration: none;

  &:hover, &:active {
    background-color: $primary-color;
    color: #fff;
  }
}

nav {
  margin-left: $margin;
  display: block;

  @include break(not-small) {
    display: inline;
  }
}

nav a, nav a:visited {
  color: $text-color-fg;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $font-stack-ui-fallback;
  font-size: .65em;
  letter-spacing: .1em;
}

.wf-proximanovascosfextcond-n4-active nav a, nav a:visited {
  font-family: $font-stack-ui;
  font-size: 1em;
  text-transform: lowercase;
  letter-spacing: .15em;
}

nav a:hover, nav a:active {
  color: $link-color-fg;
}

nav a + a {
  margin-left: 1rem;
}

.intro {
  margin: 2rem $margin * -1;
}

.intro h1 {
  padding: 2rem $margin * 2;
  background-color: $intro-color-bg;
  color: white;
  margin: 0;
}

.intro p {
  padding: 0 $margin * 2;
}

.intro .avatar {
  width: 100px;
  height: 100px;
  border: none;
}


.article-list {

  article h1 {
    font-size: 1rem;
    margin: 0;
    display: inline-block;
    color: $primary-color;
  }

  article time {
    display: inline-block;

    &:before {
      content: ' — ';
    }
  }

  article {
    margin-bottom: 1rem;
  }
}

[role="main"] img {
  max-width: 100%;
  padding: 3px;
  border: 1px solid $support-color;
  border-radius: 3px;
}

time {
  color: $secondary-text-color-fg;
  text-transform: uppercase;
  font-family: $font-stack-ui-fallback;
  font-size: .7em;
  letter-spacing: .1em;
  font-weight: 400;
}

.wf-proximanovascosfextcond-n4-active time {
  font-family: $font-stack-ui;
  font-size: .9em;
  text-transform: lowercase;
  letter-spacing: .15em;
}

article[role="main"] h1 a {
  text-decoration: none;
  color: $text-color-fg;
}

.resume-item header h1 {
  font-size: 1.169rem;
  margin: 0;
}

.resume-item header p {
  margin: 0;
  font-size: .857142857rem;
}

.index .nav-index,
.projects .nav-projects,
.resume .nav-resume,
.about-me .nav-about-me {
  border-bottom: 2px solid $primary-color;

  &:hover, &:active {
    border-bottom-color: $link-color-fg;
  }
}
