$font-stack: "chaparral-pro", georgia, sans-serif;
// $font-stack: "ff-tisa-web-pro", georgia, sans-serif;

$primary-color: hsl(325, 99%, 39%);
$support-color: hsl(16, 62%, 93%);
$complimentary-color: hsl(198, 82%, 51%);

$text-color-fg: #000;
$secondary-text-color-fg: hsla(0, 0%, 75%, 1);

$page-color-bg: white;
// $page-color-bg: $support-color;

$link-color-fg: #cc3333;
$link-color-fg: #f3c859;

$intro-color-bg: #f3c859;
$intro-color-bg: $primary-color;
$intro-color-bg: #09c;