$font-stack: "ff-tisa-web-pro", georgia, sans-serif;
$font-stack-ui-fallback: "helvetica neue", helvetica, sans-serif;
$font-stack-ui: "proxima-nova-sc-osf-ext-cond", "helvetica neue", helvetica, sans-serif;
$primary-color: rgb(46, 49, 64);
$support-color: #faad3f;

$text-color-fg: rgb(46, 49, 64);
$secondary-text-color-fg: hsla(0, 0%, 75%, 1);
$selection-color-bg: hsla(55, 100%, 77%, 1);
$page-color-bg: #fff;
$link-color-fg: #1aa974;
$intro-color-bg: $primary-color;
$margin: 1rem;

@mixin break($point) {
  @if $point == not-small {
    @media screen and (min-width: 30em) {
      @content;
    }
  }
  @else if $point == medium {
    @media screen and (min-width: 30em) and (max-width: 60em) {
      @content;
    }
  }
  @else if $point == large {
    @media screen and (min-width: 60em)  {
      @content;
    }
  }
}
