<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ruth Buchanan">
    <meta name="description" content="Personal website of Ruth Buchanan">
    <link rel="icon" type="image/ico" href="/images/favicon.ico" />
    <title>Ruth Buchanan</title>
    <%= stylesheet_link_tag "all" %>
    <!--<script src="//use.typekit.net/erf3zrl.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>-->
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </head>

  <body class="<%= page_classes %>">
    <div class="page">
      <%= typogrify(yield) %>
    </div>
  </body>
</html>