<header role="banner">
  <p class="mark"><a href="/">Ruth Buchanan</a></p>
  <nav>
    <a href="/" class="nav-index">Home</a>
    <a href="/projects" class="nav-projects">Projects</a>
    <a href="/resume" class="nav-resume">Résumé</a>
    <a href="/about-me" class="nav-about-me">About me</a>
  </nav>
</header>