---
title: Index
---

<section class="intro">
  <h1>Hi! I'm Ruth Buchanan,<br>UX researcher in San Francisco.</h1>
  <p class="subtext">I believe that user-centered interaction design is how all products should be built.</p>
</section>

<section class="article-list">
  <h2>Writing</h2>
  <article>
    <h1><a href="/usability-testing">Running a usability testing workshop</a></h1>
    <time>Dec 19, 2014</time>
  </article>
  <article>
    <h1><a href="/wtd-retrospection">Write The Docs restrospection</a></h1>
    <time>Dec 19, 2014</time>
  </article>
</section>

<h2>We hope you enjoyed your stay.</h2>
<p>I recently took my wife and 2 kids along for a business trip. We stayed at a popular hotel chain downtown and were thrilled at the experience—clean rooms, nice views, and positive interactions with every staff member from valet to check-in to room service. They took every care to make sure our experience was positive so that we’d return, and when we left I was certain I would.</p>

<p>Two days after the trip I woke to an email on my phone from the hotel—not a receipt but a solicitation. After wiping the sleep from my eyes I zoomed in to find an unsubscribe link only to land at a page that told me the unsubscribe feature was unavailable on mobile devices. Frustrated, I deleted the email.</p>

<h2>Build static websites with an easy-to-use framework</h2>
<p>Later that morning I got another email, clicked unsubscribe, and went through the process of entering my email address and receiving another email prompting me to confirm my email list removal.</p>

<p>The next day I woke to yet another email from them. I don’t know if I failed at unsubscribing or if I have multiple email categories to unsubscribe from, but it didn’t matter. I was angry. The negative experience of e-mail marketing eclipsed the fond memories of the hospitable staff, and now I don’t want to go back. In my mind, the head of digital marketing should head over to the hotel and apologize to the entire staff for undoing the relationships they spend all day building with their customers.</p>

<p>What if already checked email newsletter boxes buried deep within the booking process online were replaced with big “Can we email you?” buttons, or unsubscribe links were as large as the main call to action? By all means, offer discounts and incentives but do it in a way where you’re opening every possible door to customers rather than trying to barge in on theirs.</p>

<!-- <h1>Write the Docs retrospective</h1>
<h2>Great documentation isn’t just great writing. Excellent documentation relies on principles of usability, visual design, development, typography, and content management.</h2>
<h3>Sub heading</h3>
<p>It’s only possible for a doc writer to be marvelous if they understand user experience, development cycles, how to teach and learn from a (mostly static) webpage, and how to manage huge bodies of work that changes with every release. Despite these principle truths, it’s tough to find a multidisciplinary approach to documentation, or even one that really puts readers at the heart of the conversation.</p>
<p>On the prowl for interesting conversations about how to make doc better, I attended Write the Docs in Portland last year. I was floored: there were talks on Basecamp’s information architecture overhaul and help center redesign. Matthew Butterick, creator of Practical Typography, threw down a book in one of the most un-conference-y talks I’ve ever seen, bemoaning the state of text on the web. Kevin Hale of Wufoo talked about creating a culture of support, where writers, developers, and designers all talked to customers. I was sold.</p>
<p>I volunteered with this year’s crew of organizers, including Eric Holscher of Read the Docs and Troy Howard, who’s devoted to making Twitter documentation the best in the world.</p> -->