---
title: Index
---

<h1 class="tester">
  I'm a design researcher that uses creative and inclusive methodology in New York.
</h1>

<p>I'm particularly interested in <strong>co-creative design research</strong> and how <strong>smart technology</strong> should work to support people's goals.</p>
<p>Let's post-it together. <a href="mailto:ruthhtur@gmail.com?subject=Hi">Email me</a> if you want to say hi. </p>
